#banner-area {

    .owl-carousel .item img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }

    .owl-carousel .item {
        position: relative;
    }

    .owl-carousel .item .item-header {
        position: absolute;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 20%;
        align-items: center;
        color:rgb(54, 54, 54);
        z-index: 2;
    }

    .banner-btn {
        padding: 40px 130px;
        margin-top: 50px;
        border: none;
        background-color: rgb(54, 54, 54);
        color: white;
        transition: background-color 0.5s ease;
        text-decoration: none;
        z-index: 2;
    }

    .banner-btn:hover {
        cursor: pointer;
        background-color:rgb(27, 27, 27);
    }

    .owl-carousel .owl-nav button {
        position: absolute;
        top: 30%;
        outline: none;
    }

    .owl-carousel .owl-nav button:hover {
        background: none;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }

    .owl-carousel .owl-nav button.owl-prev span,
    .owl-carousel .owl-nav button.owl-next span {
        font-size: 150px;
        color: rgb(54, 54, 54);
        transition: color 0.5s ease;
    }

    .owl-carousel .owl-nav button.owl-prev span:hover,
    .owl-carousel .owl-nav button.owl-next span:hover {
        color: #8e8e8e;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }

    .mobile-cover {
        display: none;
    }

    @media only screen and (max-width: 900px) {

        .owl-carousel .item .item-header {
            margin-left: 0;
        }

        .owl-carousel .item .item-header h2 {
            width: calc(100% - 20px);
            text-align: center;
        }

        .owl-carousel .owl-nav button.owl-prev span,
        .owl-carousel .owl-nav button.owl-next span {
        display: none;
        }

        .banner-btn {
            padding: 10px 33px;
            margin-top: 20px;
        }

        .mobile-cover {
            display: block;
            width: 100%;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            top: 0;
            left: 0;
        }

        .owl-carousel .item img {
            object-position: 80% 0;
        }
    }
}