#blogs {

    h2 {
        margin: 20px;
    }

    .card {
        display: flex;
    }

    .col {
        width: calc(50% - 40px);
        margin: 20px;
    }

    .col img {
        object-fit: cover;
        height: 300px;
    }

    p {
        margin: 20px 0;
    }

    @media only screen and (max-width: 900px) {
        h2 {
            text-align: center;
        }

        .card {
            flex-direction: column;
        }

        .col {
            width: calc(100% - 40px);
        }
    }
}