$font-roboto:"roboto-regular", sans-serif;
$font-montserrat:"montserrat-regular", sans-serif;
$font-raleway:"raleway-regular", sans-serif;
$color-primary: rgb(54, 54, 54);
$color-secondary: #0ea8cf;
$color-yellow: #caf00c;